main {
    width: 500px;
    background-color: gray;
    height: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    border-radius: 10px;
}

#display-container {
    display: flex;
    flex-direction: column;
    height: 20%;
    background-color: black;
    border-radius: 5px;
    text-align: end;
    color: white;
    align-items: center;

}

#display-container div{
   
    width: 100%;
    text-align: end;
    margin: 0 5px;
    
}
#empty-space{
    height: 25%;
}
#display {
    font-size: 50px;
    height: 50%;
}

#current-result {
    font-size: 20px;
    height: 25%;

}

#keys-container{
    height: 80%;
    background-color: gray;
}

table {
    width: 100%;
    height: 100%;
}

#operators td {
    background-color: rgb(180, 180, 180) ;
}

td {
    border: 1px solid gray;
    width: 25%;
    height: 20%;
    text-align: center;
    font-size: 50px;
    border-radius: 4px;
    background-color: rgb(220, 220, 220);
}

#equals {
    background-color: orange;
}

